<h1>Showing selected Suit</h1>

<p>
    Suit ID: <%= @suit.appid %>
</p>
<p>
    Gender: <%= @suit.gender%>
</p>
<p>
    Size: <%= @suit.size%>
</p>

<p>
    Description: <%= @suit.description %>
</p>
<p>
    Renter: <%= @suit.user.username if @suit.user%>
</p>


<%= link_to "Back to Closet", suits_path %> |
<%= link_to "Edit this suit", edit_suit_path(@suit) %> |
<%= link_to "Delete this suit", suit_path(@suit), method: :delete %>